<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>你是青天一样可羡</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/index.css">
</head>

<body>
    <nav class="navbar navbar-default nav-color navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../public/可达鸭.png" width="50">
                </a>
                <p class="navbar-text">你是青天一样可羡</p>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="mail">
            <img src="../public/mail.png" width="180">
        </div>
        <p>见信安！</p>
        <p>你这人怪好玩儿的，想把你比作冷灰——怪不得我老是抹一鼻子灰。也幸亏是冷的，否则我准已给你烧焦了。</p>
        <p>一向我不以别离是一件重大的事，而今却觉得十分异样。说些什么话吧，却也说不出来。</p>
        <p>我想我能够写信给你呢？也许那时能说一些略为有意思一点的话,你也有更多的物事好告诉我吧?</p>
        <p>顶让人气闷的便是这样完完全全做完了一件事，尤其是待做清单还有两三事情需要去完成。</p>
        <p>看过一本外国算命书，今年我的流年：岁首有重大消息，须做一次大冒险，但结果意外美满（news of Al importance early in 1936, a big chance will have to be
            taken, but reward will surpass all expectation.）。如果你告诉我你的生年月日(阴历的我能推算作阳历),我也可以告诉你今年的流年。</p>
        <p>无聊，不要骂我！</p>
        <p>我听见人家说，春天已快完了。今年这春天过的很有趣。其实觉得天气暖也只是不久的事，春天不春天本不干我甚么事，日子过得快也不知是好是坏，即使好像见不到你。无论如何，总要想法子的。</p>
        <p>今日本盼望见你，带着高兴的调子。我太没有野心，也许就是这一点不好，觉得仿佛只有看见你一分钟，就可以得到若干程度的满足的样子。可也许是今天下午太阳太晃了，刺的我眼睛疼，在路上有些便看不清对路来车。</p>
        <p>愿安好！</p>
        <p>可达鸭&nbsp;&nbsp;四月十一</p>
        <div class="flower">
            <img src="../public/f.png" class="f" width="40px">
        </div>
    </div>


</body>

</html>