<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一枝轻带雨，泪湿贵妃妆。</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/index.css">
</head>

<body>
    <nav class="navbar navbar-default nav-color navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../public/杰尼龟.png" width="50">
                </a>
                <p class="navbar-text">一枝轻带雨，泪湿贵妃妆。</p>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="mail">
            <img src="../public/mail.png" width="180">
        </div>
        <p>展信悦！</p>
        <p>就像小熊维尼吃了满满两罐蜂蜜一样。</p>
        <p>我本不是十分讨厌下雨的，可见了你那“雨中人比桃花瘦”的样子，我也禁不得十分讨厌这雨了。那雨，消了你的颜色，散了你的芬芳。但同样是那雨，像是在你发尖跳动的音符，孕育了一丝“梨花一枝春带雨”的清爽。此时此刻，“为怜清绝”用在你身上是再恰当不过了。</p>
        <p>我实在喜欢你那一身诗劲儿，我喜欢你像喜欢一首诗一样。我想作诗，写雨，写夜的相思，写你，写不出。</p>
        <p>你相不相信“一见钟情”这句话？如果不相信，我希望你相信。因为今天我见着了一个人，我们骑自行车，我们躲雨，她非常可爱，我交关喜欢她。我说，她简直跟你一样好，只不知道她是不是便是你？也许我不过做了个梦也说不定。</p>
        <p>我们彼此走各人的路，总于一天会越走越离越远的吧？就是将来彼此成了陌生人也是可能的事，你说是不是？</p>
        <p>但为了你，我也有走向光明的热望，世界不会于我太寂寞。</p>
        <p>我待你好。</p>
        <p>杰尼龟&nbsp;&nbsp;四月十三</p>
        <div class="flower">
            <img src="../public/f.png" class="f" width="40px">
        </div>
    </div>
</body>

</html>