<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>你真玲珑，你真活泼，你真像一条小龙。</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/index.css">

</head>

<body>
    <nav class="navbar navbar-default nav-color navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../public/小火龙.png" width="50">
                </a>
                <p class="navbar-text">你真玲珑，你真活泼，你真像一条小龙。</p>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="mail">
            <img src="../public/mail.png" width="180">
        </div>
        <p>见字如晤。</p>
        <p>这雨仿佛是今年春日最后的精魂，万物都沾得一分水气。</p>
        <p>写下几个字，便担心洇湿，生怕丧了自己的字形，丢了自己的魂。我就这样一面听雨一面想你，便有点些呆头呆气地。我快乐，就想应当同你快乐，我闷，就想要你在我必可以不闷。</p>
        <p>一想到你的眼睛，我便清醒起来，我喜欢看你那晕红的双腮，黄昏时的霞彩似的，谢谢你给我力量。</p>
        <p>弗洛伊德说：“对自己极端诚实，是一种很好的练习。”所以，我喜欢你喜欢你喜欢你。但每每直白倾述心意时，便不由得担忧过于唐突，平白给你添了些困扰。却又恐文字浅薄，不能尽述我对你的欢喜之意。只愿你能饶恕我这极端的诚实。</p>
        <p>我多么希望自己是个诗人，只是为了你的缘故。</p>
        <p>我愿你好，热情地热情地。</p>
        <p>小火龙&nbsp;&nbsp;四月十七</p>
        <div class="flower">
            <img src="../public/f.png" class="f" width="40px">
        </div>
    </div>


</body>

</html>