<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直道相思了无益</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/index.css">

</head>

<body>
    <nav class="navbar navbar-default nav-color navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../public/妙蛙种子.png" width="50">
                </a>
                <p class="navbar-text">直道相思了无益</p>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="mail">
            <img src="../public/mail.png" width="180">
        </div>
        <p>这雨终于停了，目睹云迷雾锁的蓝天白云片片。</p>
        <p>三毛曾说：每想你一次，天上飘落一粒沙，从此形成了撒哈拉。每想你一次，天上就掉下一滴水，于是形成了太平洋。我这份思念大抵是没有如此浓烈的，但如此推敲来，用沙和水淹没了那佛头山是没多大问题的。</p>
        <p>今日本想读读王小波的，今日读书仿若便多了仪式感。但我却最终也没读多少，大抵是我没甚么勇气说出“爱你就像爱生命”这样的话语吧，相比他少了一肚子才气和深情。他好似一颗流星，划破天空。我也想做一颗流星，多好，但细想下流星最终离会地球愈来愈远，我断然是不想离你那么远的。便打消了这个念头。</p>
        <p>你说我们生前是不是冤家？我向来从不把聚散看成一回事，在你之前，除你之外，我也并非没有好朋友，不知道为什么和你一认识之后，便像被一根绳紧紧牵系住一样，怪不自由的，心也不能像从前一样轻了，但同时却又真觉得比从前幸福得多。</p>
        <p>一个人只被人家当作淡烟一样看待，想想看也真乏味的很，我倒愿做一把烈火把你烧死了呢。</p>
        <p>祝你一切的好。</p>
        <p>妙蛙种子&nbsp;&nbsp;四月二十三</p>
        <div class="flower">
            <img src="../public/f.png" class="f" width="40px">
        </div>
    </div>


</body>

</html>
